**/debug/**
**/BrowseInfo/**
**/Obj
**/FreeMaster/widgets/**
**/*.vpwhist
**/*.vtg
!Software/Regulated_power_source/FreeMaster/widgets/ReadMe.txt
**/*.hgignore
**/.hg
.idea
CMakeLists.txt
*.zip
**/*.dep
*.ewd
**/.ninja_log
**/.ninja_deps
**/Win32
